body {
    overflow-x: hidden;
  
  }
  * {
    margin: 0;
      padding: 0;
      box-sizing: border-box;
      /* font-family: 'Roboto', sans-serif; */
  
  
  
  }
  html{
    scroll-behavior: smooth;
  }
  .wrapper {
    height: auto;
    display:flex;
    flex-direction: column;
    background-color: #fff;
    font-family: cursive;
  
  
  }

   /* nav bar */
 nav{
    background-color:#75900b;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    z-index: 20;
    height: 75px;
    position: sticky;
    top: 0;
    
  }
  nav ul{
    width: 100%;
    height: 75px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    font-size: 28px;
  
    display: flex;
    align-items: center;
    color:black;
  }
  nav a:hover{
    background-color: #f0f0f0;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
  
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #000;
  
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }

  .peoject{
    display: flex;
    flex-direction: column;
    height: 40rem;
    gap: 0;
    margin-top: 0;
  
  }
  .project .project-header{
    background-image: url(projects/banner4.cc51303e0819bbc41203.png);
    background-size: cover;
    height: 450px;
  
  }
  .project .project-header h1{
    align-items: center;
    padding-left: 39rem;
    padding-top: 10rem;
    font-size: 6rem;
    font-weight: 900;

  }


  .project .about-project{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;

  }
  .project .about-project .project-img img{
    height: 30rem;
    width: 36rem;

  }
  .project .about-project .project-cont{
    justify-content: center;
  }

  .project .about-project .project-cont h1{
    color: rgb(7, 7, 134);
    padding-left: 6rem;
    padding-top: 3rem;
    font-size: 4rem;
  

  }

  .project .about-project .project-cont p{
    padding: 4rem;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .footer{
    width:100% ;
    bottom: 0;
    background: linear-gradient(to right,#00093c,#2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
  
  
  }
  .footer .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  
  
  }
  .footer .col{
    flex-basis: 25%;
    padding: 10px;
  }
  
  .footer .col:nth-child(2),.footer .col:nth-child(3){
    flex-basis: 15%;
  }
  
  .footer .logo{
    flex-basis: 25%;
    padding: 10px;
    border-top-left-radius: 20px;
  }
  
  .footer .col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
  
  }
  
  .footer .email-id{
    width: fit-content;
    border-bottom: 1px solid #75900b;
    margin: 20px 0;
  
  
  
  }
  
   .footer ul li{
    list-style: none;
    margin-bottom: 12px;
  
  }
  
  .footer ul li a{
    text-decoration: none;
    color: #fff;
  }
  
    form{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #75900b;
  }
   form .fa-brands{
    font-size: 18px;
   
    margin-right: 10px;
  }
   form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
  
  }
  form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    color:#fff
  }
  form button .fa-brands{
    font-size:16px ;
  
  }
  .social-icon .fa-brands{
    width:40px ;
    height: 40px;
    margin-top: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
  
  }
  
  hr{
    width: 90%;
    border:0;
    border-bottom: 1px solid #e84949;
    margin:20px auto ;
  }
  .copyright{
    text-align: center;
  }
  .underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
  
  }
  .underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
  
  }
  .copyright a{
    text-decoration: none;
  
  }
  @keyframes moving{
    0%{
      left: -20px;
    }
    100%{
      left:100% ;
    }
  
  }

  @media  only screen and (max-width:700px){
    .wrapper{
      display: flex;
      flex-direction: column;
       gap: 0;
       overflow-x: hidden;
  
    
  }
  .sidebar{
      width: 100%;
  }
  .hideOnMobile{
      display: none;
      z-index: 11;
  }
  .menu-button{
      display: block
  }
  .peoject{
    display: flex;
    flex-direction: column;
    height: 20rem;
    gap: 0;
    margin-top: 0;
  
  }
  .project .project-header{
    width: 100%;
    height: 20rem;
    background-size: 1500%;
    background-position: center;
    z-index: -2;
  
  } 
  .project .project-header h1{
    align-items: center;
    padding: 8rem;
    font-size: 2rem;
    font-weight: 700;

  }

  .project .about-project{
    display: flex;
    flex-direction:column;
    margin-top: 3rem;

  }
  .project .about-project .project-img img{
    height: 20rem;
    width: 26rem;

  }
  .project .about-project .project-cont{
    justify-content: center;

  }

 .project-cont h1{
    color: rgb(7, 7, 134);
    padding-left: 4rem;
    padding-top: 3rem;
    font-size: 4rem;
  

  }

  .project .about-project .project-cont p{
    padding: 4rem;
    font-size: 0.1rem;
    font-weight: 200;
    border-bottom: 1px solid green;
  }







  .footer{
    bottom: unset;
  
  }
  .footer .col{
      flex-basis: 100%;
  }  
  .footer .col:nth-child(2),.footer .col:nth-child(3){
      flex-basis: 100%;
  } 

  }
